body {
    background-color: #FFF;
}

.background-login{
	background-color: #EAEAEA;	
}

.login md-card {
    width: 400px;
}

.detail{
	color: #000;	
}

.detail-label{
	color: #000; 	
	font-weight: bold;
}

.error{
	color: red; 	
}

.msg{
	color: green; 	
	font-weight: bold;
}

.login .logo {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

 .md-toast.success .md-toast-content {
    background-color: green;
} 

 .md-toast.error .md-toast-content {
    background-color: red;
} 

.table-empty{
	border: 2px solid;
    padding: 12px;
    font-weight: bold;
    color: rgb(33,150,243);
}

.table-head{
	/* background-color: rgba(33,150,243, 0.23) !important; */
	background-color: #fff !important;
	padding:4px !important; 
}

 .md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque {
    /* background: rgb(207, 230, 251) !important; */
    background: #fff !important; 
} 

 md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgb(255,255,255);
    fill: rgb(33, 150, 243);
}  
